@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');


.mona-sans-400 {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.glassEffect {
border-radius: 60px;
background: rgba(0, 0, 0, 0.00);
background: color(display-p3 0 0 0 / 0.00);
box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.25) inset;
box-shadow: 0 4px 4px 0 color(display-p3 1 1 1 / 0.25) inset;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}
.animate-slide-up {
  animation: slideUp 0.8s ease-out forwards;
}
